@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin,latin-ext');
body
{
    background: url('../img/admin.jpg') fixed center #fff;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family:'Lato';
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #000;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 5px 10px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #5CB85C;
    border-color: #4CAE4C;
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font: inherit;
    margin: 0px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

a
{
    color: #000;
    transition: color 0.5s ease;
}

a:hover
{
    color: #2ecc71;
}
