body
{
  font-family: 'Lato', sans-serif;
  margin:20px auto;
}
.formext_add, .formext_add_2
{
	border:5px solid rgb(232,48,65);
	border-width:0 0 3px 5px;
	padding-left:10px;
	padding-bottom:20px;
	margin-left:10px;
	border-radius:10px;
	margin-bottom:20px;
}
* {
    box-sizing: border-box;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top:10px;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0px;
    text-align: right;
}
button, input, optgroup, select, textarea {
    margin: 0px;
    font: inherit;
    color: inherit;
  font-family: 'Lato', sans-serif;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
input[type="checkbox"], input[type="radio"] {
    margin: 4px 0px 0px;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0px;
    width:auto;
    float:left;
    height:auto;
    margin-right:20px;
}
label[for*='input_chbx'],input[for='input_sklad']
{
	display:block;
	overflow:hidden;
	line-height:20px;
}
input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline:thin dotted;
    outline-offset: -2px;
}
.form-control:focus
{
	border-color:#66afe9;
	outline:0px none;
	box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(102,175,233,0.6);
}
form .form-submit {
    background: #E83041 none repeat scroll 0% 0%;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
	max-width: 50%;
	cursor: pointer;
	font-family: "Lato",sans-serif;
	font-weight: 300;
}
h2 span
{
	display:block;
}
#formnew
{
	margin-top:30px;
}
h2
{
	color:rgb(232,48,65);
}
input.error, select.error
{
	border-color:rgb(232,48,65);
}
label.error
{
	color:rgb(232,48,65);
	display:block;
}
.div-submit
{
	text-align:center;
}
h1{
    text-transform: uppercase;
    font-size:18px;
}
h2{
    text-transform: uppercase;
    font-size:15px;
    text-align: center;
}
.header
{
    border-bottom: 1px solid rgb(232,48,65);
    margin-bottom:30px;
    padding-bottom:30px;
}
.numer
{
    text-align: right;
    font-size:20px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.chx{
    height:auto;
}