/*=================
    Kamil Plucinski 
    idevelopment.pl 
    =================*/
html, body {
  width: 100%;
  overflow-x: hidden;
  padding-top: 0; }

body {
  background: #fff;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #000;
  padding-top: 145px;
  margin-top: 0; }
  @media (max-width: 1050px) {
    body {
      padding-top: 65px; } }

/*================
    defaults reset
    ================*/
strong {
  font-weight: 400; }

a[href^=tel] {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

body a, a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  cursor: pointer; }

body a:hover, body a:active, body a:after, body a:focus {
  text-decoration: none;
  color: inherit;
  outline: none; }

h1, h2 {
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0; }

h3 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0; }

p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0; }

/*========
    header
    ========*/
header {
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999; }
  header nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px; }
    header nav img {
      height: 50px; }
    header nav .menu {
      width: auto; }
    @media (max-width: 1050px) {
      header nav .menu {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    header nav .menu-new img {
      float: left; }
    header nav .menu-new ul {
      float: right; }
      header nav .menu-new ul li:first-child {
        margin-left: 0; }
    header nav ul {
      display: none;
      list-style: none;
      text-align: right;
      padding-top: 0px;
      padding-left: 0; }
      header nav ul li {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: transparent solid 1px; }
      header nav ul li:after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        display: none;
        background: #e95e69;
        width: 1px;
        height: 4px; }
      header nav ul li:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: none;
        background: #e95e69;
        width: 1px;
        height: 4px; }
      header nav ul li.active, header nav ul li:hover {
        border-bottom: #e95e69 solid 1px; }
      header nav ul li.active::after, header nav ul li:hover::after, header nav ul li.active::before, header nav ul li:hover::before {
        display: block; }
    @media (min-width: 1051px) {
      header nav {
        padding-top: 35px;
        padding-bottom: 35px; }
        header nav ul {
          padding-top: 13px;
          display: block; }
          header nav ul li {
            margin-left: 40px;
            width: auto;
            padding-top: 0px;
            padding-bottom: 0px; }
        header nav img {
          height: 74px; } }
    header nav .hamburger {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 25px;
      height: 25px;
      cursor: pointer; }
      @media (min-width: 1051px) {
        header nav .hamburger {
          display: none; } }
      header nav .hamburger .roll {
        border-top: #000 solid 5px;
        border-bottom: #000 solid 5px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        header nav .hamburger .roll .beef {
          width: 100%;
          height: 5px;
          margin-top: 5px;
          margin-bottom: 5px;
          background: #000; }

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #335862;
  color: #aaa; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul li {
      display: inline-block;
      margin-right: 20px; }
      @media (max-width: 767px) {
        footer ul li {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px; } }
      footer ul li a:hover {
        color: #fff; }

/*==================
    intro carousel
    ==================*/
.intro-carousel, .intro-carousel-update {
  position: relative;
  min-height: 360px; }
  @media (max-width: 767px) {
    .intro-carousel, .intro-carousel-update {
      min-height: 300px; } }
  .intro-carousel .slide, .intro-carousel-update .slide {
    position: absolute;
    width: 100%;
    display: none;
    left: 100%;
    top: 0;
    display: none;
    height: 100%;
    padding-top: 140px;
    padding-left: 120px;
    padding-right: 120px;
    background-repeat: no-repeat;
    background-position: center 15%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; }
    @media (max-width: 479px) {
      .intro-carousel .slide, .intro-carousel-update .slide {
        padding-left: 20px;
        padding-right: 20px; } }
    .intro-carousel .slide .slide-title, .intro-carousel-update .slide .slide-title {
      position: relative;
      color: #fff;
      width: 537px;
      max-width: 100%;
      padding-left: 40px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px; }
      .intro-carousel .slide .slide-title p, .intro-carousel-update .slide .slide-title p {
        font-size: 24px;
        padding: 10px;
        z-index: 10;
        background: rgba(233, 94, 105, 0.92); }
        @media (max-width: 680px) {
          .intro-carousel .slide .slide-title p, .intro-carousel-update .slide .slide-title p {
            font-size: 20px; } }
        @media (max-width: 600px) {
          .intro-carousel .slide .slide-title p, .intro-carousel-update .slide .slide-title p {
            font-size: 15px; } }
    .intro-carousel .slide .slide-subtitle, .intro-carousel-update .slide .slide-subtitle {
      position: relative;
      color: #fff;
      width: 120px;
      max-width: 100%;
      padding-left: 20px;
      padding-right: 10px;
      margin-left: 20px;
      padding-top: 5px;
      padding-bottom: 5px; }
      .intro-carousel .slide .slide-subtitle p, .intro-carousel-update .slide .slide-subtitle p {
        text-align: center;
        position: relative;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 10;
        background: rgba(233, 94, 105, 0.92); }
        @media (max-width: 680px) {
          .intro-carousel .slide .slide-subtitle p, .intro-carousel-update .slide .slide-subtitle p {
            font-size: 20px; } }
        @media (max-width: 600px) {
          .intro-carousel .slide .slide-subtitle p, .intro-carousel-update .slide .slide-subtitle p {
            font-size: 15px; } }
  .intro-carousel .slide-nav, .intro-carousel-update .slide-nav {
    position: absolute;
    display: block;
    top: 135px;
    background: #fff;
    width: 65px;
    height: 65px;
    color: #e95e69;
    line-height: 85px;
    font-size: 80px;
    text-align: center;
    font-weight: 300;
    padding: 0;
    cursor: pointer;
    z-index: 10; }
    @media (max-width: 767px) {
      .intro-carousel .slide-nav, .intro-carousel-update .slide-nav {
        width: 50px;
        height: 50px; } }
    .intro-carousel .slide-nav ::selection, .intro-carousel-update .slide-nav ::selection {
      background: transparent; }
    .intro-carousel .slide-nav ::-moz-selection, .intro-carousel-update .slide-nav ::-moz-selection {
      background: transparent; }
    .intro-carousel .slide-nav img, .intro-carousel-update .slide-nav img {
      position: absolute;
      top: 0px;
      max-width: 100%; }
    @media (max-width: 479px) {
      .intro-carousel .slide-nav, .intro-carousel-update .slide-nav {
        top: auto;
        bottom: 20px; } }
  .intro-carousel .slide-left, .intro-carousel-update .slide-left {
    left: 0;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.55); }
    .intro-carousel .slide-left img, .intro-carousel-update .slide-left img {
      left: 0px; }
  .intro-carousel .slide-right, .intro-carousel-update .slide-right {
    right: 0;
    -webkit-box-shadow: -2px 2px 9px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: -2px 2px 9px 0px rgba(50, 50, 50, 0.55);
    box-shadow: -2px 2px 9px 0px rgba(50, 50, 50, 0.55); }
    .intro-carousel .slide-right img, .intro-carousel-update .slide-right img {
      right: 0px; }

/*=============
    check offer
    =============*/
.check-offer {
  background: #fdfefd;
  padding-top: 50px;
  padding-bottom: 50px; }
  .check-offer h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 50px; }
  .check-offer h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0; }
  .check-offer .items {
    margin-top: 40px; }
    .check-offer .items .item {
      position: relative;
      margin-top: 50px;
      color: #555; }
      .check-offer .items .item .cloud {
        position: absolute;
        max-width: 200px;
        right: 30px;
        display: none;
        bottom: -40px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: center;
        border: solid 1px #aaa;
        background: #fff;
        color: #000;
        font-size: 15px;
        z-index: 999; }
      .check-offer .items .item h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px; }
      .check-offer .items .item p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        max-width: 300px; }
      @media (max-width: 767px) {
        .check-offer .items .item {
          text-align: center; }
          .check-offer .items .item img {
            margin-bottom: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto; }
          .check-offer .items .item p {
            margin-left: auto;
            margin-right: auto; } }

/*======
    town
    ======*/
.town {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url(../img/miasto-negocjacje.png);
  color: #fff; }
  .town .town-color {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(233, 94, 105, 0.92); }
    .town .town-color h1 {
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 50px; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .town .town-color .item {
        margin-top: 50px;
        min-height: 160px; } }
    @media (max-width: 767px) {
      .town .town-color .item {
        margin-top: 50px; } }
    .town .town-color img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: solid #fff 4px;
      width: 50px;
      padding: 3px; }
    .town .town-color p {
      margin-top: 10px;
      text-align: center;
      font-size: 20px; }
    .town .town-color .corner-box {
      position: relative;
      margin-top: 20px !important; }
      .town .town-color .corner-box .corner {
        position: absolute;
        width: 10px;
        height: 10px; }
      .town .town-color .corner-box .corner-left-down {
        left: 0;
        bottom: 0;
        border-left: solid 1px #fff;
        border-bottom: solid 1px #fff; }
      .town .town-color .corner-box .corner-left-up {
        left: 0;
        top: 0;
        border-left: solid 1px #fff;
        border-top: solid 1px #fff; }
      .town .town-color .corner-box .corner-right-down {
        right: 0;
        bottom: 0;
        border-right: solid 1px #fff;
        border-bottom: solid 1px #fff; }
      .town .town-color .corner-box .corner-right-up {
        right: 0;
        top: 0;
        border-right: solid 1px #fff;
        border-top: solid 1px #fff; }
      .town .town-color .corner-box p {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 10px; }

/*===========
    accordion
    ===========*/
.accordion {
  background: #fafafa;
  padding-top: 50px;
  padding-bottom: 50px; }
  .accordion h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 50px; }
  .accordion .items {
    margin: 0 auto; }
    .accordion .items ::selection {
      background: transparent; }
    .accordion .items ::-moz-selection {
      background: transparent; }
    @media (max-width: 767px) {
      .accordion .items {
        max-width: 100%; } }
  .accordion .item {
    max-width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px #aaa; }
    @media (max-width: 767px) {
      .accordion .item {
        max-width: 100%; } }
    .accordion .item h2 {
      text-align: left;
      font-size: 18px;
      padding-top: 20px;
      padding-bottom: 20px;
      cursor: pointer; }
    .accordion .item h2::before {
      content: '+';
      color: #fff;
      width: 24px;
      height: 24px;
      background: #f95e69;
      line-height: 24px;
      font-size: 18px;
      text-align: center;
      display: inline-block;
      margin-right: 20px; }
    .accordion .item h2.opened::before {
      content: '-'; }
    .accordion .item .accordion-child {
      font-size: 17px;
      padding-bottom: 20px;
      display: none; }

/*=============
    whole photo
    =============*/
.whole-photo {
  -webkit-box-shadow: 0px 0px 15px 0px #ddd;
  -moz-box-shadow: 0px 0px 15px 0px #ddd;
  box-shadow: 0px 0px 15px 0px #ddd; }
  @media (max-width: 1279px) {
    .whole-photo {
      background: #eee;
      background-image: none !important; } }
  .whole-photo .subsection-photo {
    height: 500px; }
  .whole-photo .subsection-text {
    padding-top: 50px;
    padding-bottom: 50px; }
    .whole-photo .subsection-text .text {
      margin: 0 auto;
      width: 80%; }
      @media (max-width: 1279px) {
        .whole-photo .subsection-text .text {
          width: 70%; } }
      @media (max-width: 767px) {
        .whole-photo .subsection-text .text {
          width: 90%; } }
    .whole-photo .subsection-text h1 {
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 50px;
      text-align: left; }
      @media (max-width: 1279px) {
        .whole-photo .subsection-text h1 {
          text-align: center; } }
    .whole-photo .subsection-text p {
      padding-left: 5px;
      font-size: 19px;
      letter-spacing: 0.02em;
      margin-bottom: 40px; }
    .whole-photo .subsection-text .check-it {
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      font-size: 19px;
      border: #e95e69 dashed 1px;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 8px;
      padding-left: 20px;
      padding-right: 20px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg); }

/*=======
    movie
    =======*/
.movie span {
  color: #e83041; }
.movie .subsection-left {
  position: relative;
  padding-bottom: 30px; }
  .movie .subsection-left h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px; }
  .movie .subsection-left .tv {
    max-width: 550px;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
    height: 100%;
    margin-left: auto;
    margin-right: auto; }
    .movie .subsection-left .tv .screen-border {
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      background-image: url(../img/wypelnienie.png);
      height: 240px; }
      .movie .subsection-left .tv .screen-border .image-container {
        height: 100%;
        width: 100;
        white-space: nowrap;
        text-align: center; }
        .movie .subsection-left .tv .screen-border .image-container .helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle; }
        .movie .subsection-left .tv .screen-border .image-container img {
          cursor: pointer;
          vertical-align: middle;
          max-height: 100%;
          max-width: 100%; }
      .movie .subsection-left .tv .screen-border .screen-container {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
        .movie .subsection-left .tv .screen-border .screen-container .screen {
          width: 100%;
          height: 100%; }
.movie .subsection-right h2 {
  text-align: left;
  font-size: 24px;
  margin-top: 100px;
  color: #555; }
.movie .subsection-right img {
  margin-top: 20px;
  display: block;
  margin-left: 12%; }
.movie .subsection-right p {
  margin-top: 20px;
  font-size: 19px; }
@media (max-width: 1023px) {
  .movie .subsection-right h2, .movie .subsection-right p {
    text-align: center; }
  .movie .subsection-right img {
    margin-left: auto;
    margin-right: auto; } }

/*=======
    about
    =======*/
.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f6f7f7;
  background: -moz-linear-gradient(270deg, #f6f7f7 0%, white 81%);
  background: -webkit-linear-gradient(270deg, #f6f7f7 0%, white 81%);
  background: -o-linear-gradient(270deg, #f6f7f7 0%, white 81%);
  background: -ms-linear-gradient(270deg, #f6f7f7 0%, white 81%);
  background: linear-gradient(0deg, #f6f7f7 0%, white 81%); }
  .about .subsection-left h1, .about .subsection-left h2, .about .subsection-left p {
    text-align: left; }
  .about .subsection-left h1 {
    font-size: 24px;
    margin-top: 80px; }
  .about .subsection-left h2 {
    color: #e83041;
    font-size: 26px;
    padding-top: 8px;
    padding-bottom: 10px; }
  .about .subsection-left p {
    font-size: 17px;
    color: #555; }
  .about .subsection-left .button-about {
    cursor: pointer;
    margin-top: 25px;
    background: #e83041;
    display: inline-block;
    color: #efefef;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 22px;
    padding-right: 22px;
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    transition: background 200ms ease-out; }
  .about .subsection-left .button-about:hover {
    background: #e95e69; }
  @media (max-width: 1023px) {
    .about .subsection-left {
      text-align: center; }
      .about .subsection-left h1, .about .subsection-left h2, .about .subsection-left p {
        text-align: center; } }
  .about .subsection-right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; }
  @media (max-width: 1023px) {
    .about .subsection-right img {
      margin-top: 80px; } }
  .about .subsection-right .cloud {
    position: absolute;
    left: -50px;
    display: none;
    top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px #aaa;
    background: #fff;
    color: #000;
    font-size: 15px; }
  @media (max-width: 1024px) {
    .about .subsection-right #index-info-2-cloud {
      left: 50px;
      top: 65px; } }
  @media (max-width: 600px) {
    .about .subsection-right #index-info-2-cloud {
      left: 0;
      top: 0; } }
  .about .subsection-right #index-info-2-cloud-1 {
    left: auto;
    top: 5px;
    right: -10px; }
    @media (max-width: 1024px) {
      .about .subsection-right #index-info-2-cloud-1 {
        right: 70px; } }
    @media (max-width: 600px) {
      .about .subsection-right #index-info-2-cloud-1 {
        right: 0; } }
  .about .subsection-right #index-info-2-cloud-2 {
    right: -50px;
    top: auto;
    left: auto;
    bottom: 10px; }
    @media (max-width: 1024px) {
      .about .subsection-right #index-info-2-cloud-2 {
        right: 0px;
        bottom: 60px; } }
    @media (max-width: 600px) {
      .about .subsection-right #index-info-2-cloud-2 {
        right: 0;
        bottom: 0; } }
  .about .subsection-right #index-info-2-cloud-3 {
    top: auto;
    left: -20px;
    bottom: 0px; }
    @media (max-width: 1024px) {
      .about .subsection-right #index-info-2-cloud-3 {
        left: 50px; } }
    @media (max-width: 600px) {
      .about .subsection-right #index-info-2-cloud-3 {
        left: 0; } }

/*=======
    prons
    =======*/
.prons {
  background: #fff; }
  .prons h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 50px; }
  .prons .subsection {
    border-top: solid 1px #ddd;
    padding-top: 90px;
    padding-bottom: 90px; }
    @media (max-width: 767px) {
      .prons .subsection {
        padding-top: 50px;
        padding-bottom: 50px; } }
    .prons .subsection h3 {
      text-align: left;
      font-size: 24px;
      font-weight: 300;
      margin-top: 40px;
      padding-top: 0;
      padding-bottom: 0; }
      @media (max-width: 767px) {
        .prons .subsection h3 {
          margin-top: 0; } }
    .prons .subsection h2 {
      margin-top: 6px;
      margin-bottom: 10px;
      text-align: left;
      font-size: 26px;
      font-weight: 300;
      color: #e83041; }
    .prons .subsection p {
      font-size: 18px;
      color: #555; }
    .prons .subsection img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 215px;
      max-width: 100%; }
  .prons .subsection:nth-child(even) {
    background: #efefef; }

/*==========
    partners
    ==========*/
.partners {
  padding-top: 50px;
  padding-bottom: 50px; }
  .partners h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 50px; }
  .partners img {
    max-height: 50px;
    max-width: 150px; }
  .partners .partners-list {
    text-align: center; }
    .partners .partners-list > div {
      display: inline-block;
      float: none;
      vertical-align: middle;
      text-align: center;
      margin-bottom: 50px; }

/*============
    simulation
    ============*/
.simulation {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f8f9f9; }
  .simulation h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px; }
  .simulation .pillow {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #ccc;
    -webkit-box-shadow: inset 10px 0px 30px 0px #faf9f9;
    -moz-box-shadow: inset 10px 0px 30px 0px #faf9f9;
    box-shadow: inset 10px 0px 30px 0px #faf9f9;
    text-align: center; }
    @media (max-width: 767px) {
      .simulation .pillow {
        margin-top: 20px; } }
    .simulation .pillow p {
      font-size: 19px;
      margin-top: 5px;
      margin-bottom: 5px; }
  .simulation h2 {
    margin-top: 40px; }
    .simulation h2 .check-it {
      min-width: 150px;
      display: inline-block;
      color: #e95e69;
      margin-top: 20px;
      font-size: 37px;
      line-height: 37px;
      border: #e95e69 dashed 3px;
      text-align: center;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 15px;
      padding-right: 15px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
      margin-left: 20px; }

/*==========
    big form
    ==========*/
.big-form {
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url(../img/komputer.png);
  color: #fff; }
  .big-form h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px; }
  .big-form h2 {
    font-size: 19px;
    margin: 0 auto;
    max-width: 60%; }
    @media (max-width: 1023px) {
      .big-form h2 {
        max-width: 100%; } }
  .big-form form {
    margin-top: 70px;
    text-align: center; }
    .big-form form ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #555; }
    .big-form form :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #555;
      opacity: 1; }
    .big-form form ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #555;
      opacity: 1; }
    .big-form form :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #555; }
    .big-form form input {
      background: #fff;
      outline: none;
      color: #444;
      margin-top: 20px;
      font-size: 17px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
      -webkit-box-shadow: inset 0px 0px 4px 0px #999;
      -moz-box-shadow: inset 0px 0px 4px 0px #999;
      box-shadow: inset 0px 0px 4px 0px #999;
      border: solid 1px #eee;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      max-width: 100%; }
    .big-form form .form-submit {
      background: #e83041;
      border: solid 1px #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: 25px;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase; }
    .big-form form .checkboxes {
      text-align: left;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      font-size: 12px; }
    .big-form form span {
      margin-left: 10px; }
  .big-form .form-submit {
    background: #e83041;
    border: solid 1px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 25px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    max-width: 80%;
    cursor: pointer; }

/*=========
    contact
    =========*/
.contact {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url(../img/miasto-negocjacje.png);
  color: #ddd; }
  .contact .contact-fill {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background: rgba(51, 88, 98, 0.92); }
  .contact h1 {
    text-align: left;
    margin-bottom: 40px;
    font-size: 26px; }
    @media (max-width: 767px) {
      .contact h1 {
        text-align: center; } }
  .contact .contact-item {
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 0.08em;
    position: relative; }
    @media (max-width: 767px) {
      .contact .contact-item {
        text-align: center; } }
    .contact .contact-item img, .contact .contact-item div {
      display: inline-block; }
      @media (max-width: 767px) {
        .contact .contact-item img, .contact .contact-item div {
          display: block;
          margin-left: auto;
          margin-right: auto; } }
    .contact .contact-item img {
      width: 30px; }
    .contact .contact-item div {
      margin-left: 50px; }
      @media (max-width: 767px) {
        .contact .contact-item div {
          margin-top: 20px;
          margin-left: 0;
          text-align: center; } }
  .contact .contact-item.phone img {
    margin-top: -70px; }
    @media (max-width: 767px) {
      .contact .contact-item.phone img {
        margin-top: 0; } }
  .contact .contact-item.phone p:first-child {
    margin-bottom: 15px; }
  .contact form.contact-form {
    font-size: 10.5px; }
    .contact form.contact-form input[type=text] {
      width: 100%;
      max-width: 360px;
      font-size: 18px;
      background: transparent;
      color: #ddd;
      margin-top: 8px;
      margin-bottom: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: solid #ddd 1.5px;
      outline: none; }
    .contact form.contact-form label.error {
      color: #e95e69;
      display: block;
      font-size: 14px; }
    .contact form.contact-form .chbx-error {
      font-size: 14px;
      color: #e95e69;
      font-weight: bolder; }
    .contact form.contact-form input.error {
      border-color: #e95e69; }
    .contact form.contact-form .contact-info {
      font-size: 14px; }
    .contact form.contact-form a {
      text-decoration: underline; }
    .contact form.contact-form a:hover {
      text-decoration: none; }
    .contact form.contact-form ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #ddd; }
    .contact form.contact-form :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #ddd;
      opacity: 1; }
    .contact form.contact-form ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #ddd;
      opacity: 1; }
    .contact form.contact-form :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #ddd; }
    .contact form.contact-form input[type=submit] {
      width: 100%;
      max-width: 360px;
      background: #ddd;
      color: #000;
      border: solid #ddd 1.5px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      margin-top: 8px;
      margin-bottom: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 18px;
      outline: none;
      -webkit-transition: background 200ms ease-out;
      -moz-transition: background 200ms ease-out;
      transition: background 200ms ease-out; }
    .contact form.contact-form input[type=submit]:hover {
      background: transparent;
      color: #ddd; }
    .contact form.contact-form input[type=checkbox] {
      margin-top: 10px;
      margin-left: 5px; }
    .contact form.contact-form input[type=checkbox].first {
      margin-left: 0; }

#map-canvas {
  width: 100%;
  height: 420px; }

/*=======
    pages
    =======*/
.index .articles {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .index .articles {
      padding-bottom: 40px; } }
  .index .articles .container {
    max-width: 800px; }
  .index .articles p {
    margin-top: 5px;
    line-height: 1.05em;
    text-align: center; }
  .index .articles img {
    height: 40px; }
    @media (max-width: 767px) {
      .index .articles img {
        margin-top: 20px;
        margin-bottom: 20px; } }
.index .intro-carousel .slide-nav {
  top: 150px; }
  @media (max-width: 768px) {
    .index .intro-carousel .slide-nav {
      top: 125px; } }
  @media (max-width: 479px) {
    .index .intro-carousel .slide-nav {
      top: auto;
      bottom: 20px; } }
.index .intro-carousel .slide {
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position: center 15%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  @media (min-width: 1440px) {
    .index .intro-carousel .slide {
      background-repeat: no-repeat;
      background-position: center 35%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover; } }
  @media (max-width: 768px) {
    .index .intro-carousel .slide {
      padding-top: 120px; } }
  @media (max-width: 479px) {
    .index .intro-carousel .slide {
      padding-top: 40px; } }
.index .intro-carousel #slide-0 {
  background-image: url(../img/home-slide-0.jpg);
  display: block;
  left: 0; }
.index .intro-carousel #slide-1 {
  background-repeat: no-repeat;
  background-position: center 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url(../img/home-slide-0.jpg); }
.index .intro-carousel #slide-2 {
  background-repeat: no-repeat;
  background-position: center 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url(../img/home-slide-0.jpg); }
.index .town .town-color {
  background: rgba(51, 88, 98, 0.92); }
  .index .town .town-color p, .index .town .town-color .corner-box {
    margin: 0 auto;
    max-width: 78%; }
    @media (max-width: 768px) {
      .index .town .town-color p, .index .town .town-color .corner-box {
        max-width: 100%; } }

.negotiations .intro-carousel-update #slide-0 {
  background-image: url(../img/kredyty-slide-0.jpg);
  display: block;
  left: 0; }
.negotiations .intro-carousel-update .slide-update {
  background-image: url(../img/update-20-09/miasto_szer.png);
  display: block;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  left: 0;
  position: relative; }
  .negotiations .intro-carousel-update .slide-update .slide-box {
    background: #fff;
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px; }
    .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item {
      max-width: 296px;
      margin-left: auto;
      margin-right: auto; }
      .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item:after {
        content: " ";
        /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both; }
      @media (max-width: 1023px) {
        .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item {
          margin-bottom: 40px; } }
      .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item .title {
        text-align: right;
        font-size: 28px; }
      .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item .subtitle {
        text-align: right;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px; }
      .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item img.arrow-left {
        position: absolute;
        width: 37px;
        z-index: 10;
        top: 65px; }
      .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item .slide-box-footer {
        float: right;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 5px;
        width: 270px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
        -o-background-size: 100%;
        background-image: url("../img/update-20-09/kontener_1.png"); }
        .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item .slide-box-footer p {
          font-size: 20px;
          font-weight: 700;
          text-align: right; }
          .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item .slide-box-footer p.big-value {
            margin-top: 10px;
            font-size: 44px;
            text-align: left; }
        .negotiations .intro-carousel-update .slide-update .slide-box .slide-box-item .slide-box-footer img {
          position: absolute;
          right: -5px;
          bottom: -5px;
          width: 37px; }
.negotiations .intro-carousel #slide-0 {
  background-image: url(../img/carousel-1.jpg);
  display: block;
  left: 0; }
.negotiations .intro-carousel #slide-1 {
  background-image: url(../img/carousel-1.jpg); }
.negotiations .intro-carousel #slide-2 {
  background-image: url(../img/carousel-1.jpg); }
.negotiations .whole-photo {
  background-repeat: no-repeat;
  background-position: 20% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url(../img/pani_kredyty.jpg); }
  .negotiations .whole-photo .subsection-photo {
    background-repeat: no-repeat;
    background-position: center 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image: url(../img/pani_kredyty_small.jpg); }

.credits #kredyty-form-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
.credits .intro-carousel-update #slide-0 {
  background-image: url(../img/kredyty-slide-0.jpg);
  display: block;
  left: 0; }
.credits .intro-carousel-update .slide-update {
  background-image: url(../img/update-20-09/miasto_szer.png);
  display: block;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  left: 0;
  position: relative; }
  .credits .intro-carousel-update .slide-update .slide-box {
    background: #fff;
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px; }
    .credits .intro-carousel-update .slide-update .slide-box .slide-box-item {
      max-width: 296px;
      margin-left: auto;
      margin-right: auto; }
      .credits .intro-carousel-update .slide-update .slide-box .slide-box-item:after {
        content: " ";
        /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both; }
      @media (max-width: 1023px) {
        .credits .intro-carousel-update .slide-update .slide-box .slide-box-item {
          margin-bottom: 40px; } }
      .credits .intro-carousel-update .slide-update .slide-box .slide-box-item .title {
        text-align: right;
        font-size: 28px; }
      .credits .intro-carousel-update .slide-update .slide-box .slide-box-item .subtitle {
        text-align: right;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px; }
      .credits .intro-carousel-update .slide-update .slide-box .slide-box-item img.arrow-left {
        position: absolute;
        width: 37px;
        z-index: 10;
        top: 65px; }
      .credits .intro-carousel-update .slide-update .slide-box .slide-box-item .slide-box-footer {
        float: right;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 5px;
        width: 270px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
        -o-background-size: 100%;
        background-image: url("../img/update-20-09/kontener_1.png"); }
        .credits .intro-carousel-update .slide-update .slide-box .slide-box-item .slide-box-footer p {
          font-size: 20px;
          font-weight: 700;
          text-align: right; }
          .credits .intro-carousel-update .slide-update .slide-box .slide-box-item .slide-box-footer p.big-value {
            margin-top: 10px;
            font-size: 44px;
            text-align: left; }
        .credits .intro-carousel-update .slide-update .slide-box .slide-box-item .slide-box-footer img {
          position: absolute;
          right: -5px;
          bottom: -5px;
          width: 37px; }
.credits .check-offer {
  background: #fefffe; }
  .credits .check-offer h1 {
    margin-bottom: 0; }
  .credits .check-offer p {
    max-width: 300px; }
  .credits .check-offer .items {
    margin-top: 0; }
.credits .half-photo-accordion {
  z-index: 5;
  position: relative;
  background: #f8f9f9; }
  .credits .half-photo-accordion .subsection-photo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: 100% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image: url(../img/kredyty-accordion.jpg);
    height: 100%; }
    @media (max-width: 1023px) {
      .credits .half-photo-accordion .subsection-photo {
        position: relative;
        width: 100%;
        height: 400px; } }
  .credits .half-photo-accordion .subsection-text {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-shadow: -30px 10px 30px 0px #f8f9f9;
    -moz-box-shadow: -30px 10px 30px 0px #f8f9f9;
    box-shadow: -30px 10px 30px 0px #f8f9f9;
    max-width: 40%; }
    @media (max-width: 1023px) {
      .credits .half-photo-accordion .subsection-text {
        max-width: 100%;
        -webkit-box-shadow: -30px 10px 30px 0px transparent;
        -moz-box-shadow: -30px 10px 30px 0px transparent;
        box-shadow: -30px 10px 30px 0px transparent; } }
    @media (max-width: 1023px) {
      .credits .half-photo-accordion .subsection-text .items {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px; }
        .credits .half-photo-accordion .subsection-text .items ::selection {
          background: transparent; }
        .credits .half-photo-accordion .subsection-text .items ::-moz-selection {
          background: transparent; } }
    @media (max-width: 460px) {
      .credits .half-photo-accordion .subsection-text .items {
        max-width: 90%; } }
    .credits .half-photo-accordion .subsection-text h1 {
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 50px;
      text-align: left; }
      @media (max-width: 1023px) {
        .credits .half-photo-accordion .subsection-text h1 {
          text-align: center; } }
    .credits .half-photo-accordion .subsection-text h2 {
      text-align: left;
      font-size: 18px; }
      @media (max-width: 1023px) {
        .credits .half-photo-accordion .subsection-text h2 {
          text-align: center; } }
    .credits .half-photo-accordion .subsection-text .item {
      border-bottom: solid 1px #aaa; }
      @media (max-width: 767px) {
        .credits .half-photo-accordion .subsection-text .item {
          max-width: 100%; } }
      .credits .half-photo-accordion .subsection-text .item h2 {
        text-align: left;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer; }
      .credits .half-photo-accordion .subsection-text .item h2::before {
        content: '+';
        color: #fff;
        width: 24px;
        height: 24px;
        background: #f95e69;
        line-height: 24px;
        font-size: 18px;
        text-align: center;
        display: inline-block;
        margin-right: 20px; }
      .credits .half-photo-accordion .subsection-text .item h2.opened::before {
        content: '-'; }
      .credits .half-photo-accordion .subsection-text .item p {
        font-size: 17px;
        padding-bottom: 20px;
        display: none; }

.faq {
  margin-top: 40px; }
  .faq .col-xs-24 > h1, .faq .col-xs-24 > h2 {
    text-align: left;
    font-weight: bolder;
    margin-left: 5%;
    margin-right: 5%; }
    @media (max-width: 767px) {
      .faq .col-xs-24 > h1, .faq .col-xs-24 > h2 {
        margin-left: 0;
        margin-right: 0; } }
  .faq .faq-title {
    padding-top: 40px;
    padding-bottom: 40px; }

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7 {
  position: relative; }

.effect7:before, .effect7:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px; }

.effect7:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg); }

/*# sourceMappingURL=style.css.map */
