/*=================
    Kamil Plucinski 
    idevelopment.pl 
    =================*/

$body_background: #fff;
$font_color: #000;
$font_size: 14px;
$font_size-md: 16px;
$font_size-sm: 12px;
$font_size-lg: 24px;
$font_weight: 300;
$selection: rgba(0,0,0,0.15);                   
$document_padding_top_bottom: 25px;
$faq_bg_color: rgb(210, 215, 211);
$collapse_width: 1050px;
$collapse_width_more: 1051px;

@mixin clearfix(){
    &:after{
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;            
    }
}

@mixin easing($what, $time, $ease){
    -webkit-transition: $what $time $ease;
    -moz-transition: $what $time $ease;
    transition: $what $time $ease;
}

@mixin placeholder($color){
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $color;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $color;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $color;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $color;
    }    
}

@mixin rotate($rotation){
    -webkit-transform: rotate($rotation);
    -ms-transform: rotate($rotation); 
    transform: rotate($rotation);    
}


@mixin background-image-nopath($repeat, $horizontal, $vertical, $size){    
    background-repeat: $repeat;
    background-position: $horizontal $vertical;
    -webkit-background-size: $size;
    -moz-background-size: $size;
    background-size: $size;
    -o-background-size: $size;                    
}

@mixin shadow($px1, $px2, $blur, $px4, $color){
    -webkit-box-shadow: $px1 $px2 $blur $px4 $color;
    -moz-box-shadow:    $px1 $px2 $blur $px4 $color;
    box-shadow:         $px1 $px2 $blur $px4 $color;
}

@mixin background-size($size){
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;    
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;    
    border-radius: $radius;
}

@mixin padding-left-right($padding){
    padding-left: $padding;
    padding-right: $padding;
}

@mixin padding-top-bottom($padding){
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin margin-left-right($value){
    margin-left: $value;
    margin-right: $value;
}

@mixin margin-top-bottom($value){
    margin-top: $value;
    margin-bottom: $value;
}

@mixin selection($selection_color){
    ::selection {
        background: $selection_color; 
    }
    ::-moz-selection {
        background: $selection_color; 
    }                
}



html,body{
    width: 100%;        
    overflow-x: hidden;     
    padding-top: 0;

}

body{            
    background: $body_background;     
    font-size: $font_size;    
    font-family: 'Lato', sans-serif;
    font-weight: $font_weight;
    color: $font_color;           
    padding-top: 145px;
    margin-top: 0;
    @media(max-width: $collapse_width){
        padding-top: 65px;
    }

}


/*================
    defaults reset
    ================*/

strong{
    font-weight: 400;
}

a[href^=tel]{
    color:inherit;
    text-decoration: inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;    
}

body a, a{
    text-decoration: none;
    color: inherit;   
    font-weight: inherit;    
    cursor: pointer;
}

body a:hover, body a:active, body a:after, body a:focus{
    text-decoration: none;   
    color: inherit;        
    outline: none;
}

h1, h2{
    font-weight: $font_weight;
    text-align: center;

    @include margin-top-bottom(0);
}
h3{
    font-weight: 400;
    @include margin-top-bottom(0);
}
p{
    font-weight: $font_weight;
    @include margin-top-bottom(0);    
}

/*========
    header
    ========*/

header{
    @include margin-top-bottom(0);    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;
    nav{
        @include margin-top-bottom(0);
        @include padding-top-bottom(15px);
        img{
            height: 50px;
        }
        .menu{
            width: auto;
        }
        @media(max-width: $collapse_width){
            .menu{
                width: 100%;
                @include margin-left-right(0);                
            }            
        }
        
        .menu-new{
            img{
                float: left;
            }
            ul{
                float: right;
                li:first-child{
                    margin-left: 0;
                }
            }
        }
        ul{
            display: none;
            list-style: none;            
            text-align: right;         
            padding-top: 0px;
            padding-left: 0;
            li{                
                position: relative;
                display: inline-block;
                text-transform: uppercase;
                font-size: 18px;
                width: 100%;
                text-align: center;
                cursor: pointer;
                @include padding-left-right(10px);
                @include padding-top-bottom(10px);
                border-bottom: transparent solid 1px; 
                
            }
            li:after{
                position: absolute;
                bottom: 0;
                right: 0;
                content: '';
                display: none;
                background: #e95e69;
                width: 1px;
                height: 4px;
            }
            li:before{
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                display: none;
                background: #e95e69;
                width: 1px;
                height: 4px;
            }

            li.active, li:hover{
                border-bottom: #e95e69 solid 1px;         
            }
            li.active::after, li:hover::after,li.active::before, li:hover::before{
                display: block;
            }
        }
        @media(min-width: $collapse_width_more){
            @include padding-top-bottom(35px);
            ul{
                padding-top: 13px;
                display: block;
                li{
                    margin-left: 40px;       
                    width: auto;             
                    @include padding-top-bottom(0px);
                }
            }
            img{
                height: 74px;
            }    
        }


        .hamburger{            
            @media(min-width: $collapse_width_more){
                display: none;
            }
            position: absolute;
            top: 25px;
            right: 25px;
            width: 25px;
            height: 25px;
            cursor: pointer;        
            .roll{
                border-top: $font_color solid 5px;
                .beef{
                    width: 100%;
                    height: 5px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    background: $font_color;
                }
                border-bottom: $font_color solid 5px;            
                @include border-radius(2px);
            }
        }            
    }

}

footer{
    @include padding-top-bottom(30px);
    background: #335862;
    color: #aaa;
    ul{
        list-style: none;
        padding: 0;
        li{
            display: inline-block;
            margin-right: 20px;
            @media(max-width: 767px){
                @include margin-left-right(0);
                width: 100%;
                text-align: center;
                @include margin-top-bottom(10px);
            }      
            a:hover{
                color: #fff;
            }
        }        
    }
}

/*==================
    intro carousel
    ==================*/

.intro-carousel, .intro-carousel-update{
    position: relative;    
    min-height: 360px;                     
    @media(max-width: 767px){
        min-height: 300px;
    }
    .slide{
        position: absolute;    
        width: 100%;
        display: none;
        left: 100%;
        top: 0;                
        display: none;
        height: 100%;
        padding-top: 140px;
        @include padding-left-right(120px);
        @include background-image-nopath(no-repeat, center, 15%, cover);             
        @media(max-width: 479px){
            @include padding-left-right(20px);
        }
        .slide-title{   
            position: relative;
            color: #fff;
            width: 537px;
            max-width: 100%;                        
            padding-left: 40px;
            padding-right: 20px;
            @include padding-top-bottom(10px);
            p{
                // position: relative;
                font-size: 24px;
                // @include padding-left-right(10px);
                padding:10px;
                z-index: 10;
                @media(max-width: 680px){               
                    font-size: 20px;
                }
                @media(max-width: 600px){               
                    font-size: 15px;
                }
                background:rgba(233,94,105,0.92);
            }

            // img{
            //     display: block;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 98%;                
            //     height: 100%;                                        
            //     z-index: 5;
            //     @media(max-width: 1360px){
            //      width: 90%;             
            //     }
            //     @media(max-width: 1279px){
            //      width: 85%;             
            //     }
            //     @media(max-width: 1024px){
            //         width: 100%;
            //     }
            // }                
        }        
        .slide-subtitle{   
            position: relative;
            color: #fff;
            width: 120px;
            max-width: 100%;                        
            padding-left: 20px;
            padding-right: 10px;
            margin-left: 20px;
            @include padding-top-bottom(5px);
            p{
                text-align:center;
                position: relative;
                font-size: 14px;
                @include padding-left-right(20px);   
                z-index: 10;
                @media(max-width: 680px){               
                    font-size: 20px;
                }
                @media(max-width: 600px){               
                    font-size: 15px;
                }
                background:rgba(233,94,105,0.92);
            }
            // img{
            //     display: block;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;                                        
            //     z-index: 5;
            // }                
        }        
    }
    .slide-nav{
        position: absolute;
        display: block;
        top: 135px;
        background: #fff;
        width: 65px; //85px;
        height: 65px;//85px;        
        @media(max-width: 767px){        
            width: 50px;
            height: 50px;
        }
        color: #e95e69;        
        line-height: 85px;
        font-size: 80px;
        text-align: center;
        font-weight: 300;
        padding: 0;
        cursor: pointer;  
        z-index: 10;
        @include selection(transparent);
        img{
            position: absolute;            
            top: 0px;     
            max-width: 100%;
        }
        @media(max-width: 479px){
           top: auto;
           bottom: 20px;
        }
    }
    .slide-left{
        left: 0;
        @include shadow(2px, 2px, 9px, 0px, rgba(50,50,50,0.55));
        img{
            left: 0px;
        }
    }
    .slide-right{
        right: 0;
        @include shadow(-2px, 2px, 9px, 0px, rgba(50,50,50,0.55));
        img{
            right: 0px;
        }
    }
}

/*=============
    check offer
    =============*/

.check-offer{
    background: #fdfefd;
    @include padding-top-bottom(50px);
    h1{
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 50px;
    }
    h2{
        font-size: 18px;
        @include margin-top-bottom(0);
    }

    .items{
        margin-top: 40px;
        .item{
            position: relative;
            margin-top: 50px;
            color: #555;
            .cloud{
                position: absolute;
                max-width: 200px;
                right: 30px;
                display: none;
                bottom: -40px;
                @include padding-left-right(15px);
                @include padding-top-bottom(12px);            
                @include border-radius(10px);
                text-align: center;
                border: solid 1px #aaa;            
                background: #fff;
                color: #000;            
                font-size: 15px;
                z-index: 999;
            }                
            h3{                
                @include margin-top-bottom(0);                
                font-size: 18px;
            }
            p{
                @include margin-top-bottom(0);
                font-size: 16px;                                              
                max-width: 300px;
            }
            @media(max-width: 767px){
                text-align: center;
                img{
                    margin-bottom: 10px;
                    display: block;
                    @include margin-left-right(auto);                    
                }
                p{
                    @include margin-left-right(auto);
                }
            }
        }

    }
}


/*======
    town
    ======*/

.town{
    @include background-image-nopath(no-repeat, center, center, cover);
    background-image: url(../img/miasto-negocjacje.png);    
    color: #fff;    
    .town-color{
        @include padding-top-bottom(50px);
        background: rgba(233,94,105,0.92);
        h1{
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 50px;            
        }

        .item{
            @media(max-width: 1023px) and (min-width: 768px){
                margin-top: 50px;
                min-height: 160px;    
            }
            @media(max-width: 767px){
                margin-top: 50px;
            }
        }
        img{
            @include margin-left-right(auto);
            display: block;
            @include border-radius(100%);
            border: solid #fff 4px;            
            width: 50px;
            padding: 3px;
        }      
        p{
            margin-top: 10px;
            text-align: center;
            font-size: 20px;            
        }
        .corner-box{
            position: relative;
            margin-top: 20px !important;
            .corner{
                position: absolute;
                width: 10px;
                height: 10px;
            }
            .corner-left-down{
                left: 0;
                bottom: 0;
                border-left: solid 1px #fff;
                border-bottom: solid 1px #fff;
            }
            .corner-left-up{
                left: 0;
                top: 0;
                border-left: solid 1px #fff;
                border-top: solid 1px #fff;
            }
            .corner-right-down{
                right: 0;
                bottom: 0;
                border-right: solid 1px #fff;
                border-bottom: solid 1px #fff;
            }
            .corner-right-up{
                right: 0;
                top: 0;
                border-right: solid 1px #fff;
                border-top: solid 1px #fff;
            }
            p{
                font-size: 24px;
                @include padding-top-bottom(10px);
            }
        }
    }    
}

/*===========
    accordion
    ===========*/

.accordion{
    background: #fafafa;
    @include padding-top-bottom(50px);
    h1{        
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 50px;                        
    }
    .items{
        // max-width: 80%;
        margin: 0 auto;
        @include selection(transparent);
        @media(max-width: 767px){
            max-width: 100%;    
        }
    }
    .item{
        max-width: 90%;
        margin: 0 auto;
        border-bottom: solid 1px #aaa;
        @media(max-width: 767px){
            max-width: 100%;    
        }
        h2{            
            text-align: left;
            font-size: 18px;            
            @include padding-top-bottom(20px);
            cursor: pointer;            
        }
        h2::before{
            content: '+';
            color: #fff;
            width: 24px;
            height: 24px;
            background: #f95e69;
            line-height: 24px;
            font-size: 18px;
            text-align: center;
            display: inline-block;
            margin-right: 20px;
        }
        h2.opened::before{
            content: '-';
        }
        .accordion-child{
            font-size: 17px;
            padding-bottom: 20px;
            display: none;
        }
    }
}

/*=============
    whole photo
    =============*/

.whole-photo{    
    @include shadow(0px, 0px, 15px, 0px, #ddd);    
    @media(max-width: 1279px){
        background: #eee;
        background-image: none !important;
    }
    .subsection-photo{           
        height: 500px;
    }
    .subsection-text{                
        @include padding-top-bottom(50px);
        .text{
            margin: 0 auto;
            width: 80%;            
            @media(max-width: 1279px){
                width: 70%;
            }
            @media(max-width: 767px){
                width: 90%;
            }

        }
        h1{        
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 50px;                        
            text-align: left;
            @media(max-width: 1279px){
                text-align: center;
            }
        }
        p{
            padding-left: 5px;
            font-size: 19px;
            letter-spacing: 0.02em;
            margin-bottom: 40px;
        }
        .check-it{
            width: 150px;
            @include margin-left-right(auto);
            margin-top: 20px;
            font-size: 19px;
            border: #e95e69 dashed 1px;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 8px;
            @include padding-left-right(20px);        
            @include border-radius(15px);
            @include rotate(-10deg);       
        }
    }

}

/*=======
    movie
    =======*/

.movie{    
    span{
        color: #e83041;
    }
    .subsection-left{
        position: relative;
        padding-bottom: 30px;
        h1{
            @include padding-top-bottom(30px);
            font-size: 24px;
        }        
        .tv{       
            max-width: 550px;                                
            background: #fff;                
            
            @include padding-top-bottom(40px);
            @include padding-left-right(0);

            overflow: visible;                    
            height: 100%;
            @include margin-left-right(auto);
            .screen-border{                   
                position: relative;                
                @include background-image-nopath(no-repeat, center, center, cover);
                background-image: url(../img/wypelnienie.png);            
                height: 240px;
                .image-container{
                    height: 100%;
                    width: 100;    
                    white-space: nowrap;   
                    text-align: center;
                    .helper {
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                    }
                    img{                        
                        cursor: pointer;                
                        vertical-align: middle;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
                .screen-container{
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    .screen{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .subsection-right{
        h2{
            text-align: left;
            font-size: 24px;
            margin-top: 100px;                
            color: #555;
        }
        img{
            margin-top: 20px;
            display: block;
            margin-left: 12%;
        }
        p{
            margin-top: 20px;
            font-size: 19px;
        }
        @media(max-width: 1023px){
            h2, p{
                text-align: center;
            }
            img{
                @include margin-left-right(auto);
            }
        }
    }
}


/*=======
    about
    =======*/

.about{
    @include padding-top-bottom(50px);
    background: rgb(246, 247, 247);
    background: -moz-linear-gradient(270deg, rgb(246, 247, 247) 0%, rgb(255, 255, 255) 81%);
    background: -webkit-linear-gradient(270deg, rgb(246, 247, 247) 0%, rgb(255, 255, 255) 81%);
    background: -o-linear-gradient(270deg, rgb(246, 247, 247) 0%, rgb(255, 255, 255) 81%);
    background: -ms-linear-gradient(270deg, rgb(246, 247, 247) 0%, rgb(255, 255, 255) 81%);
    background: linear-gradient(0deg, rgb(246, 247, 247) 0%, rgb(255, 255, 255) 81%);    
    .subsection-left{
        h1, h2, p{
            text-align: left;
        }

        h1{
            font-size: 24px;
            margin-top: 80px;
        }
        h2{
            color: #e83041;
            font-size: 26px;
            padding-top: 8px;
            padding-bottom: 10px;
        }
        p{
            font-size: 17px;
            color: #555;
        }
        .button-about{
            cursor: pointer;
            margin-top: 25px;
            background: #e83041;
            display: inline-block;
            color: #efefef;
            @include border-radius(3px);
            font-size: 21px;
            @include padding-top-bottom(3px);
            @include padding-left-right(22px);
            @include easing(background, 200ms, ease-out);
        }
        .button-about:hover{
            background: #e95e69;            
        }
        @media(max-width: 1023px){
            h1, h2, p{
                text-align: center;
            }
            text-align: center;

        }        
    }
    .subsection-right{
        
        img{
            display: block;
            @include margin-left-right(auto);
            max-width: 100%;
        }
        @media(max-width: 1023px){
            img{
                margin-top: 80px;
            }
        }
        .cloud{
            position: absolute;
            left: -50px;
            display: none;
            top: 20px;
            @include padding-left-right(15px);
            @include padding-top-bottom(12px);            
            @include border-radius(10px);
            text-align: center;
            border: solid 1px #aaa;            
            background: #fff;
            color: #000;            
            font-size: 15px;
        }
        #index-info-2-cloud
        {
            @media(max-width:1024px){
                left: 50px;
                top:65px;
            }
            @media(max-width:600px){
                left:0;
                top:0;
            }
        }
        #index-info-2-cloud-1
        {
            left:auto;
            top:5px;
            right:-10px;
            @media(max-width:1024px){
                right: 70px;
            }
            @media(max-width:600px){
                right:0;
            }
        }
        #index-info-2-cloud-2
        {
            right:-50px;
            top:auto;
            left:auto;
            bottom:10px;
            @media(max-width:1024px){
                right: 0px;
                bottom:60px;
            }
            @media(max-width:600px){
                right:0;
                bottom:0;
            }
        }
        #index-info-2-cloud-3
        {
            top:auto;
            left:-20px;
            bottom:0px;
            @media(max-width:1024px){
                left: 50px;
            }
            @media(max-width:600px){
                left:0;
            }
        }
    }
}
        

/*=======
    prons
    =======*/

.prons{
    background: #fff;    
    h1{        
        text-transform: uppercase;
        font-size: 24px;
        @include margin-top-bottom(50px);                                
    }        
    .subsection{
        border-top: solid 1px #ddd;
        @include padding-top-bottom(90px);
        @media(max-width: 767px){
            @include padding-top-bottom(50px);    
        }
        h3{            
            text-align: left;
            font-size: 24px;
            font-weight: 300;
            margin-top: 40px;
            @include padding-top-bottom(0);
            @media(max-width: 767px){
                margin-top: 0;
            }
        }
        h2{            
            margin-top: 6px;
            margin-bottom: 10px;
            text-align: left;
            font-size: 26px;
            font-weight: 300;
            color: #e83041;
        }
        p{            
            font-size: 18px;
            color: #555;
        }
        img{            
            display: block;
            @include margin-left-right(auto);
            width: 215px;
            max-width: 100%;
        }        
    }
    .subsection:nth-child(even){
        background: #efefef;
    }
}

/*==========
    partners
    ==========*/

.partners{
    @include padding-top-bottom(50px);
    h1{        
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 50px;                                
    }    
    .col-md-4{
        // height: 100px;
    }
    img{
        // @include margin-left-right(auto);
        // display: block;
        max-height: 50px;
        max-width: 150px;
        // margin-bottom: 40px;
    }
    .partners-list
    {
        text-align:center;
        > div
        {
                display:inline-block;
                float:none;
                vertical-align:middle;
                text-align:center;
            margin-bottom:50px;
        }
    }
}

/*============
    simulation
    ============*/

.simulation{
    @include padding-top-bottom(50px);
    h1{    
        text-align: center;
        margin-bottom: 50px;            
        font-size: 24px;        
    }
    background: #f8f9f9;
    .pillow{
        @include padding-left-right(20px);
        @include padding-top-bottom(30px);
        background: #fff;
        @include border-radius(10px);
        border: solid 1px #ccc;
        @include shadow(inset 10px, 0px, 30px, 0px, #faf9f9);
        text-align: center;
        @media(max-width: 767px){
            margin-top: 20px;
        }
        p{
            font-size: 19px;
            @include margin-top-bottom(5px);
        }        
    }
    h2{
        margin-top: 40px;

        .check-it{
            min-width: 150px;
            display: inline-block;
            color: #e95e69;            
            margin-top: 20px;
            font-size: 37px;
            line-height: 37px;
            border: #e95e69 dashed 3px;
            text-align: center;
            padding-top: 4px;
            padding-bottom: 4px;
            @include padding-left-right(15px);        
            @include border-radius(12px);
            @include rotate(-5deg);     
            margin-left: 20px;
        }            

    }
}

/*==========
    big form
    ==========*/

.big-form{
    @include padding-top-bottom(50px);
    @include background-image-nopath(no-repeat, center, center, cover);
    background-image: url(../img/komputer.png);            
    color: #fff;
    h1{
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 40px;                
    }
    h2{
        font-size: 19px;
        margin: 0 auto;
        max-width: 60%;
        @media(max-width: 1023px){
            max-width: 100%;    
        }
    }
    form{        
        margin-top: 70px;
        @include placeholder(#555);
        text-align: center;
        input{
            background: #fff;
            outline: none;            
            color: #444;
            margin-top: 20px;
            font-size: 17px;
            @include padding-left-right(15px);
            @include padding-top-bottom(8px);
            @include shadow(inset 0px, 0px, 4px, 0px, #999);
            border: solid 1px #eee;
            @include border-radius(5px);
            max-width: 100%;
        }
        .form-submit{
            background: #e83041;
            border: solid 1px #fff;
            @include border-radius(5px);
            @include margin-left-right(20px);
            @include padding-top-bottom(8px);
            margin-top: 25px;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
        }
        .checkboxes{
            text-align: left;
            @include margin-left-right(20px);
            margin-bottom: 20px;
            font-size: 12px;
        }

        span{
            margin-left: 10px;
        }
    }
        .form-submit{
            background: #e83041;
            border: solid 1px #fff;
            @include border-radius(5px);
            @include margin-left-right(auto);
            @include padding-top-bottom(8px);
            margin-top: 25px;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            max-width: 80%;           
            cursor: pointer;
        }    
}


/*=========
    contact
    =========*/

.contact{
    @include background-image-nopath(no-repeat, center, center, cover);                         
    background-image: url(../img/miasto-negocjacje.png);    
    color: #ddd;    
    .contact-fill{
        @include padding-top-bottom(50px);
        width: 100%;
        height: 100%;            
        background: rgba(51, 88, 98, 0.92);
    }
    h1{
        text-align: left;        
        margin-bottom: 40px;            
        font-size: 26px;
        @media(max-width: 767px){
            text-align: center;
        }        
    }
    .contact-item{
        margin-top: 30px;
        font-size: 18px;
        letter-spacing: 0.08em;
        position: relative;
        @media(max-width: 767px){
            text-align: center;
        }        
        img, div{
            display: inline-block;            
            @media(max-width: 767px){
                display: block;               
                @include margin-left-right(auto);
            }
        }
        img{               
            width: 30px;

        }
        div{            
            margin-left: 50px;
            @media(max-width: 767px){
                margin-top: 20px;
                margin-left: 0;
                text-align: center;
            }               
        }
    }
    .contact-item.phone{
        img{
            margin-top: -70px;            
            @media(max-width: 767px){
                margin-top: 0;
            }
        }        
        p:first-child{
            margin-bottom: 15px;
        }
    }

    form.contact-form{
        font-size: 10.5px;
        input[type=text]{
            width: 100%;
            max-width: 360px;
            font-size: 18px;
            background: transparent;
            color: #ddd;
            @include margin-top-bottom(8px);
            @include padding-top-bottom(5px);
            @include padding-left-right(10px);
            @include border-radius(0);
            border: solid #ddd 1.5px;
            outline: none;
        }
                label.error
        {
            color:rgb(233,94,105);
            display:block;
            font-size: $font_size;
        }
        .chbx-error
        {
            font-size: $font_size;
            color:rgb(233,94,105);
            font-weight:bolder;
        }
        input.error
        {
            border-color:rgb(233,94,105);
        }
        .contact-info
        {
            font-size: $font_size;
        }
        a{
            text-decoration: underline;
        }
        a:hover{
            text-decoration: none;
        }

        @include placeholder(#ddd);

        input[type=submit]{
            width: 100%;
            max-width: 360px;
            background: #ddd;
            color: #000;
            border: solid #ddd 1.5px;
            @include border-radius(0);
            @include margin-top-bottom(8px);
            @include padding-top-bottom(5px);
            @include padding-left-right(10px);
            font-size: 18px;
            outline: none;
            @include easing(background, 200ms, ease-out);                        
        }

        input[type=submit]:hover{
            background: transparent;
            color: #ddd;
        }
        input[type=checkbox]{
            margin-top: 10px;
            margin-left: 5px;
        }
        input[type=checkbox].first{
            margin-left: 0;
        }
    }


}
#map-canvas{
    width: 100%;
    height: 420px;        
}



/*=======
    pages
    =======*/

.index{
    .articles{        
        @include padding-top-bottom(80px);
        @media(max-width: 767px){
            padding-bottom: 40px;
        }
        .container{
            max-width: 800px;
        }
        p{
            margin-top: 5px;
            line-height: 1.05em;
            text-align: center;
        }
        img{
            height: 40px;                        
            @media(max-width: 767px){
                @include margin-top-bottom(20px);
            }
        }
    }
    .intro-carousel{        
        .slide-nav{
            top: 150px;
            @media(max-width: 768px){
                top: 125px; 
            }                
            @media(max-width: 479px){
                top: auto;
                bottom: 20px;
            }            
        }
        .slide{
            padding-top: 120px;
            @include background-image-nopath(no-repeat, center, 15%, cover);                         
            @media(min-width: 1440px){
                @include background-image-nopath(no-repeat, center, 35%, cover);                         
            }
            @media(max-width: 768px){
                padding-top: 120px; 
            }                  
            @media(max-width: 479px){
                padding-top: 40px;
            }
        }
        #slide-0{
            background-image: url(../img/home-slide-0.jpg);
            display: block;
            left: 0;
        }
        #slide-1{
            @include background-image-nopath(no-repeat, center, 20%, cover);                         
            background-image: url(../img/home-slide-0.jpg);
        }
        #slide-2{        
            @include background-image-nopath(no-repeat, center, 20%, cover);                         
            background-image: url(../img/home-slide-0.jpg);
        }    
    }
    .town{
        .town-color{
            background: rgba(51, 88, 98, 0.92);
            p, .corner-box{
                margin: 0 auto;
                max-width: 78%;                    
                @media(max-width: 768px){
                    max-width: 100%;                        
                }
            }
        }
    }
}

.negotiations{
    .intro-carousel-update{           
        #slide-0{
            background-image: url(../img/kredyty-slide-0.jpg);
            display: block;
            left: 0;
        }    
        .slide-update{
            background-image: url(../img/update-20-09/miasto_szer.png);                
            display: block;
            @include padding-left-right(0);
            @include padding-top-bottom(25px);
            left: 0;   
            position: relative;
            .slide-box{
                background: #fff;
                position: relative;
                padding-top: 20px;
                padding-bottom: 40px;                
                .slide-box-item{
                    max-width: 296px;          
                    @include margin-left-right(auto);
                    @include clearfix();
                    @media(max-width: 1023px){
                        margin-bottom: 40px;
                    }
                    .title{
                        text-align: right;
                        
                            font-size: 28px;
                        
                    }
                    .subtitle{                        
                        text-align: right;
                        font-size: 17px;                                                    
                        @include margin-top-bottom(20px);
                    }
                    img.arrow-left{
                        position: absolute;
                        width: 37px;
                        z-index: 10;
                        top: 65px;
                    }
                    .slide-box-footer{
                        float: right;   
                        position: relative;
                        @include padding-left-right(10px);
                        padding-top: 20px;
                        padding-bottom: 5px;                        
                        width: 270px;                        
                        @include background-image-nopath(no-repeat, center, center, 100%);   
                        background-image: url('../img/update-20-09/kontener_1.png');
                        p{
                            font-size: 20px;
                            font-weight: 700;
                            text-align: right;
                            &.big-value{             
                                margin-top: 10px;
                                font-size: 44px;
                                text-align: left;
                            }
                        }
                        img{
                            position: absolute;
                            right: -5px;
                            bottom: -5px;                            
                            width: 37px;
                        }
                    }
                }
            }
        }
    }    
    .intro-carousel{
        #slide-0{
            background-image: url(../img/carousel-1.jpg);
            display: block;
            left: 0;
        }
        #slide-1{
            background-image: url(../img/carousel-1.jpg);
        }
        #slide-2{        
            background-image: url(../img/carousel-1.jpg);
        }    
    }
    .whole-photo{
        @include background-image-nopath(no-repeat, 20%, top, cover);    
        background-image: url(../img/pani_kredyty.jpg);    
        .subsection-photo{
            @include background-image-nopath(no-repeat, center, 10%, cover);     
            background-image: url(../img/pani_kredyty_small.jpg);    
        }
    }
}
.credits{
    #kredyty-form-link{
        display: block; 
        @include margin-left-right(auto);        
        @include padding-left-right(20px);               
    }
    .intro-carousel-update{           
        #slide-0{
            background-image: url(../img/kredyty-slide-0.jpg);
            display: block;
            left: 0;
        }    
        .slide-update{
            background-image: url(../img/update-20-09/miasto_szer.png);                
            display: block;
            @include padding-left-right(0);
            @include padding-top-bottom(25px);
            left: 0;   
            position: relative;
            .slide-box{
                background: #fff;
                position: relative;
                padding-top: 20px;
                padding-bottom: 40px;                
                .slide-box-item{
                    max-width: 296px;          
                    @include margin-left-right(auto);
                    @include clearfix();
                    @media(max-width: 1023px){
                        margin-bottom: 40px;
                    }
                    .title{
                        text-align: right;
                        
                            font-size: 28px;
                        
                    }
                    .subtitle{                        
                        text-align: right;
                        font-size: 17px;                                                    
                        @include margin-top-bottom(20px);
                    }
                    img.arrow-left{
                        position: absolute;
                        width: 37px;
                        z-index: 10;
                        top: 65px;
                    }
                    .slide-box-footer{
                        float: right;   
                        position: relative;
                        @include padding-left-right(10px);
                        padding-top: 20px;
                        padding-bottom: 5px;                        
                        width: 270px;                        
                        @include background-image-nopath(no-repeat, center, center, 100%);   
                        background-image: url('../img/update-20-09/kontener_1.png');
                        p{
                            font-size: 20px;
                            font-weight: 700;
                            text-align: right;
                            &.big-value{             
                                margin-top: 10px;
                                font-size: 44px;
                                text-align: left;
                            }
                        }
                        img{
                            position: absolute;
                            right: -5px;
                            bottom: -5px;                            
                            width: 37px;
                        }
                    }
                }
            }
        }
    }
    .check-offer{
        background: #fefffe;
        
        h1{
            margin-bottom: 0;
        }
        p{
            max-width: 300px;
        }
        .items{
            margin-top: 0;            
        }    
    }

    .half-photo-accordion{
        z-index: 5;
        position: relative;
        background: #f8f9f9;
        .subsection-photo{            
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 50%;
            @include background-image-nopath(no-repeat, 100%, center, cover);
            background-image: url(../img/kredyty-accordion.jpg);    
            height: 100%;
            @media(max-width: 1023px){
                position: relative;
                width: 100%;
                height: 400px;
            }
        }
        .subsection-text{
            @include padding-top-bottom(50px);            
            @include shadow(-30px, 10px, 30px, 0px, #f8f9f9);
            max-width: 40%;
            @media(max-width: 1023px){                
                max-width: 100%;                
                @include shadow(-30px, 10px, 30px, 0px, transparent);
            }            
            .items{                
                @media(max-width: 1023px){                    
                    max-width: 60%;
                    @include margin-left-right(auto);
                    margin-top: 40px;
                    @include selection(transparent);
                }
                @media(max-width: 460px){
                    max-width: 90%;
                }
            }            
            h1{        
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 50px;                        
                text-align: left;
                @media(max-width: 1023px){
                    text-align: center;
                }
            }
            h2{
                text-align: left;
                font-size: 18px;
                @media(max-width: 1023px){
                    text-align: center;
                }            
            }
            .item{              
                border-bottom: solid 1px #aaa;
                @media(max-width: 767px){
                    max-width: 100%;    
                }
                h2{            
                    text-align: left;
                    font-size: 18px;            
                    @include padding-top-bottom(20px);
                    cursor: pointer;            
                }
                h2::before{
                    content: '+';
                    color: #fff;
                    width: 24px;
                    height: 24px;
                    background: #f95e69;
                    line-height: 24px;
                    font-size: 18px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 20px;
                }
                h2.opened::before{
                    content: '-';
                }
                p{
                    font-size: 17px;
                    padding-bottom: 20px;
                    display: none;
                }
            }            
        }
    }    
}
.faq{
    margin-top: 40px;
    .col-xs-24>h1,.col-xs-24>h2{
         text-align: left;
         font-weight: bolder;
         @media(max-width: 767px)
         {
            @include margin-left-right(0);
         }
            @include margin-left-right(5%);
    }
    .faq-title{
        @include padding-top-bottom(40px);
    }        

}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;       

}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.3);
    box-shadow:0px 0px 10px rgba(0,0,0,0.3);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect7:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
    -moz-transform:skew(8deg) rotate(3deg);     
    -ms-transform:skew(8deg) rotate(3deg);     
    -o-transform:skew(8deg) rotate(3deg); 
    transform:skew(8deg) rotate(3deg);
}