<?php
    require_once('jp/jp.inc.php');
?>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="robots" content="noindex, nofollow">
        <meta name="author" content="idevelopment.pl">        
        <meta name="description" content="" >        
        <meta name="keywords" content="" >                                

        <!-- og -->
        <meta property="og:title" content="" >
        <meta property="og:type" content="website" >                
        <meta property="og:url" content="" >
        <meta property="og:image" content="" >    
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="200">
        <meta property="og:image:height" content="200">        
        <meta property="og:site_name" content="" >        
        <meta property="og:description" content="" >                           

        <!-- styles -->
        <title>Negocjatornia</title>
        <link rel="shortcut icon" type="image/png" href="img/Favicon_16x16.png">                
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">           


        <!-- old browsers support-->        
        <!--[if lt IE 9]>            
            <script src="js/html5shiv.min.js"></script>
            <script src="js/respond.min.js"></script>                                     
        <![endif]-->                
        <!--[if IE 9 ]>
            <script src="js/placeholders.min.js"></script>                
        <![endif]-->

        <!-- JS disabled -->
        <!--noscript><link href="css/jsDisabled.css" rel="stylesheet"></noscript-->

    </head>
    <body class="index" id="page-top">
        <header>
            <nav class="menu container">
                <div class='row'>
                    <div class="col-xs-24 menu-new">
                        <img src="img/logotyp_standard.png" alt=""/>
                        <ul>
                            <li class="active"><a href="#page-top" class="page-scroll">O FIRMIE</a></li>
                            <li><a href="kredyty.php">KREDYTY</a></li>
                            <li><a href="negocjacje.php">NEGOCJACJE</a></li>
                            <li><a href="faq.php">FAQ</a></li>
                            <li><a href="#contact" class="page-scroll">KONTAKT</a></li>
                        </ul>
                    </div>
                    <div class="hamburger">
                        <div class="roll">
                            <div class="beef"></div>
                        </div>
                        <!-- om om om! -->
                    </div>                
                </div>
            </nav>
        </header>
        <section class="intro-carousel">
<?php 
echo(slides('index')); 
?>
        </section>    
        <section class="movie">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 subsection-left">
                    <h1 class="jp-edit">{{index-info-1-text-h1-jp}} <span class="jp-elem" id="index-info-1-text-h1-span">{{index-info-1-text-h1-span}}</span></h1>
                        <div class="tv effect7">
                            <div class="screen-border">   
                                <div class="screen-container">
                                    <div id="screen" class="screen"></div>
                                </div>
                                <div class="image-container">
                                    <span class="helper"></span>
                                    <img src="img/guzik_play.png" alt=""/>
                                </div>
                            </div>
                        </div>                                                
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2 jp-edit subsection-right">
                        <h2>{{index-info-1-text-h2-1-jp}} <span class="jp-elem" id="index-info-1-text-h2-span">{{index-info-1-text-h2-span}}</span> {{index-info-1-text-h2-2-jp}}</h2>
                        <img src="img/calendar_localization.png" alt=""/>
                        <p class="jp-elem" id="index-info-1-text-p">{{index-info-1-text-p}}</p>                       
                    </div>
                </div>
            </div>
        </section>     
        <section class="articles">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-2">
                        <p><strong>media<br>&nbsp; o&nbsp;nas</strong></p>
                    </div>
                    <div class="col-sm-6">
                        <img src="img/update-20-09/strzalki.png" alt="" class="arrows center-block"/>
                    </div>
                    <div class="col-sm-6">
                        <a target="_blank" href="http://natemat.pl/75415,targujac-sie-zarabia-na-zycie-w-ostatnim-momencie-znikam-a-klient-robi-deal-mowi-profesjonalny-negocjator-cen">
                            <img src="img/update-20-09/logotyp_na_teamt_.png" alt="" class="logotype center-block"/>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a target="_blank" href="http://pierwszymilion.forbes.pl/mieszkaniowy-negocjator-jak-bezpiecznie-kupic-mieszkanie-,artykuly,176440,1,1.html">
                            <img src="img/update-20-09/logotyp_pierwszy_milion.png" alt="" class="logotype center-block"/>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="about">
            <div class="container">
                <div class="row jp-edit">
                    <div class="col-md-14 subsection-left">
                        <h1><strong class="jp-elem" id="index-info-2-text-h1">{{index-info-2-text-h1}}</strong> {{index-info-2-text-h1-jp}}</h1>                        
                        <h2 class="jp-elem" id="index-info-2-text-h2">{{index-info-2-text-h2}}</h2>
                        <p class="jp-elem" id="index-info-2-text-p">{{index-info-2-text-p}}</p>                                         
                        <a href="{{index-info-2-text-a-href}}" class="page-scroll button-about jp-elem" id="index-info-2-text-a">{{index-info-2-text-a-text}}</a>
                    </div>
                    <div class="col-md-10 subsection-right">      
                        <div class="cloud jp-elem" id="index-info-2-cloud">{{index-info-2-cloud}}</div>
                        <div class="cloud jp-elem" id="index-info-2-cloud-1">{{index-info-2-cloud-1}}</div>
                        <div class="cloud jp-elem" id="index-info-2-cloud-2">{{index-info-2-cloud-2}}</div>
                        <div class="cloud jp-elem" id="index-info-2-cloud-3">{{index-info-2-cloud-3}}</div>
                        <img src="img/about.png" alt=""/>                        
                    </div>
                </div>
            </div>            
        </section>
        <section class="prons">
            <div class="container">
                <div class="col-xs-24">
                    <h1 class="jp-edit jp-elem" id="index-about-h">{{index-about-h}}</h1>  
                </div>
            </div>    
            <div class="subsection">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-15 jp-edit">
                            <h3 class="jp-elem" id="index-about-1-h3">{{index-about-1-h3}}</h3>
                            <h2 class="jp-elem" id="index-about-1-h2">{{index-about-1-h2}}</h2>
                            <p class="jp-elem" id="index-about-1-p">{{index-about-1-p}}</p>
                        </div>
                        <div class="col-sm-9 hidden-xs">
                            <img style="opacity: 0.65;" src="img/co_nas_wyroznia.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subsection">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-15 jp-edit">
                            <h3 class="jp-elem" id="index-about-2-h3">{{index-about-2-h3}}</h3>
                            <h2 class="jp-elem" id="index-about-2-h2">{{index-about-2-h2}}</h2>
                            <p class="jp-elem" id="index-about-2-p">{{index-about-2-p}}</p>
                        </div>
                        <div class="col-sm-9 hidden-xs">

                            <img src="img/walizeczka_jak_pracujemy.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subsection">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-15 jp-edit">
                            <h3 class="jp-elem" id="index-about-3-h3">{{index-about-3-h3}}</h3>
                            <h2 class="jp-elem" id="index-about-3-h2">{{index-about-3-h2}}</h2>
                            <p class="jp-elem" id="index-about-3-p">{{index-about-3-p}}</p>
                        </div>
                        <div class="col-sm-9 hidden-xs">

                            <img src="img/_-_jak_pracujemy.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="town">
            <div class="town-color">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-24 jp-edit">
                            <h1 class="jp-elem" id="index-upfoot-h1">{{index-upfoot-h1}}</h1>
                            <p class="jp-elem" id="index-upfoot-p">{{index-upfoot-p}}</p>
                            <div class="corner-box">
                                <div class="corner corner-left-up"></div>
                                <div class="corner corner-left-down"></div>
                                <div class="corner corner-right-up"></div>
                                <div class="corner corner-right-down"></div>
                                <p class="jp-elem" id="index-upfoot-end">{{index-upfoot-end}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <section class="partners">
            <div class="container">
                <div class="row">
                    <div class="col-xs-24">
                        <h1 class="jp-edit jp-elem" id="index-partners-h">{{index-partners-h}}</h1>    
                    </div>
                </div>
                <div class="row jp-edit partners-list"><!--<?php
	echo partners();
?>--></div>
            </div>
        </section>

        <section class="contact" id="contact">
            <div class="contact-fill">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 jp-edit">
                        <h1 class="jp-elem" id="index-footer-h1">{{index-footer-h1}}</h1>
                        <div class="contact-item phone">
                            <img src="img/telefon_kontakt.png" alt=""/>
                            <div>
                                <p><a href="{{index-footer-tel1-href}}" class="jp-elem" id="index-footer-tel1">{{index-footer-tel1-text}}</a></p>
                                <p><a href="{{index-footer-tel1-href}}" class="jp-elem" id="index-footer-tel2">{{index-footer-tel2-text}}</a></p>                                
                            </div>
                        </div>
                        <div class="contact-item mail">
                            <img src="img/kopertka_mail_kontakt.png" alt=""/>
                            <div>
                                <p><a href="{{index-footer-email-href}}" class="jp-elem" id="index-footer-email">{{index-footer-email-text}}</a></p>                                                             
                            </div>
                        </div>
                        <div class="contact-item address">
                            <img src="img/lokalizacja_kontakt.png" alt=""/>
                            <div>
                                <p class="jp-elem" id="index-footer-addr1">{{index-footer-addr1}}</p>                                                             
                                <p class="jp-elem" id="index-footer-addr2">{{index-footer-addr2}}</p>                                                             
                            </div>
                        </div>
                    </div>
                    <form class="col-sm-12 col-lg-8 col-lg-offset-4 hidden-xs contact-form" id="contact-form" role="form" action="" method="post">
                        <input type="hidden" name="form" value="kontakt"/>
                        <h1>Napisz do nas</h1>
                        <p><input type="text" name="nazwisko" placeholder="Imię i nazwisko"/></p>
                        <p><input type="text" name="telefon" placeholder="Numer telefonu"/></p>
                        <p><input type="text" name="email" placeholder="E-mail"/></p>
                        <p><input type="submit" value="wyślij"/></p>
                        <!--input name="warunki" class="first" type="checkbox" value="tak"/> Akceptuję warunki
                        <input name="zgoda" type="checkbox" value="tak"/> Wyrażam zgodę-->
                        <input name="regulamin" type="checkbox" value="tak"/> Zapoznałem się z <a href="attch/regulamin-strony.pdf">regulaminem</a> / akceptuję <a href="attch/regulamin-strony.pdf">regulamin</a></a>
                    </form>
                </div>
            </div>
            </div>            
        </section>
        <div class="map" id="map-canvas"></div>        

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li><a href="#">2015 Negocjatornia</a></li>
                            <li><a href="attch/polityka-prywatnosci.pdf" target="_blank">Polityka prywatności</a></li>
                            <li><a href="attch/regulamin-strony.pdf" target="_blank">Regulamin</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <ul class="pull-right">
                            <li>wykonanie:</li>
                            <li><a href="http://www.960pikseli.pl">www.960pikseli.pl</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </footer>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDkR1lw4SMGMFquqdryC6eBE-88HpNvcM"></script>        
        <script src="js/jquery.min.js"></script>        
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/velocity.min.js"></script>
        <script src="js/carousel.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/messages_pl.min.js"></script> 
        <script src="js/eventSpy.js"></script>
        <script src="js/player.js"></script>
<?php jp_edit(); ?>
    </body>
</html>