
                        <div class="col-md-8">
                            <div class="slide-box-item jp-edit">
                                <h1 class="title"><strong class="jp-elem" id="kredyty-box-0-h1">{{kredyty-box-0-h1}}</strong> <span class="jp-elem" id="kredyty-box-0-h1-span">{{kredyty-box-0-h1-span}}</span></h1>
                                <img class="arrow-left" src="img/update-20-09/strzalki_top.png" alt=""/>
                                <p class="subtitle">                                    
                                    <span class="jp-elem" id="kredyty-box-0-sub-0-span">{{kredyty-box-0-sub-0-span}}</span> <strong class="jp-elem" id="kredyty-box-0-sub-0">{{kredyty-box-0-sub-0}}</strong><br>
                                    <span class="jp-elem" id="kredyty-box-0-sub-1-span">{{kredyty-box-0-sub-1-span}}</span> <strong class="jp-elem" id="kredyty-box-0-sub-1">{{kredyty-box-0-sub-1}}</strong>
                                </p>
                                <div class="slide-box-footer">
                                    <p class="jp-elem" id="kredyty-box-0-foot">{{kredyty-box-0-foot}}</p>
                                    <p class="big-value jp-elem" id="kredyty-box-0-val">{{kredyty-box-0-val}}</p>
                                    <img src="img/update-20-09/1_.png" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="slide-box-item jp-edit">
                                <h1 class="title"><strong class="jp-elem" id="kredyty-box-1-h1">{{kredyty-box-1-h1}}</strong> <span class="jp-elem" id="kredyty-box-1-h1-span">{{kredyty-box-1-h1-span}}</span></h1>
                                <img class="arrow-left" src="img/update-20-09/strzalki_top.png" alt=""/>
                                <p class="subtitle">                                    
                                    <span class="jp-elem" id="kredyty-box-1-sub-0-span">{{kredyty-box-1-sub-0-span}}</span> <strong class="jp-elem" id="kredyty-box-1-sub-0">{{kredyty-box-1-sub-0}}</strong><br>
                                    <span class="jp-elem" id="kredyty-box-1-sub-1-span">{{kredyty-box-1-sub-1-span}}</span> <strong class="jp-elem" id="kredyty-box-1-sub-1">{{kredyty-box-1-sub-1}}</strong>
                                </p>
                                <div class="slide-box-footer">
                                    <p class="jp-elem" id="kredyty-box-1-foot">{{kredyty-box-1-foot}}</p>
                                    <p class="big-value jp-elem" id="kredyty-box-1-val">{{kredyty-box-1-val}}</p>
                                    <img src="img/update-20-09/1_.png" alt=""/>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="slide-box-item jp-edit">
                                <h1 class="title"><strong class="jp-elem" id="kredyty-box-2-h1">{{kredyty-box-2-h1}}</strong> <span class="jp-elem" id="kredyty-box-2-h1-span">{{kredyty-box-2-h1-span}}</span></h1>
                                <img class="arrow-left" src="img/update-20-09/strzalki_top.png" alt=""/>
                                <p class="subtitle">                                    
                                    <span class="jp-elem" id="kredyty-box-2-sub-0-span">{{kredyty-box-2-sub-0-span}}</span> <strong class="jp-elem" id="kredyty-box-2-sub-0">{{kredyty-box-2-sub-0}}</strong><br>
                                    <span class="jp-elem" id="kredyty-box-2-sub-1-span">{{kredyty-box-2-sub-1-span}}</span> <strong class="jp-elem" id="kredyty-box-2-sub-1">{{kredyty-box-2-sub-1}}</strong>
                                </p>
                                <div class="slide-box-footer">
                                    <p class="jp-elem" id="kredyty-box-2-foot">{{kredyty-box-2-foot}}</p>
                                    <p class="big-value jp-elem" id="kredyty-box-2-val">{{kredyty-box-2-val}}</p>
                                    <img src="img/update-20-09/1_.png" alt=""/>
                                </div>
                            </div>
                        </div>