                                    <ul>
                                        <li>Wzór umowy przedwstępnej</li>
                                        <li>Własności gruntów</li>
                                        <li>Terminów płatności</li>
                                        <li>Obciążeń księgi wieczystej</li>
                                        <li>Kar odstąpienia od umowy</li>
                                    </ul>
                                