#simplemodal-overlay {background-color:#000;
	z-index:999999998 !important;}
.jp-info
{
	color:rgb(0, 177, 106);
}
.jp-edit
{
	outline:4px solid rgba(0, 177, 106,.5);
}
.jp-elem
{
	outline:2px solid rgba(246, 36, 89,.5);
}
.jp-click
{
	cursor:pointer;
}
.jp-click:hover
{
	opacity:.7;
}
#simplemodal-container
{
	font-size:14px;
	color: rgb(246, 36, 89);
	max-width:600px;
	min-width:500px;
	text-align:center;
	margin:15px;
	z-index:999999999 !important;
}
.jp-popup span
{
	font-weight:bolder;
	height:30px;
	display:block;
	/*background:rgb(246, 36, 89);*/
	margin-top:30px;
	line-height:30px;
	cursor:pointer;
	font-weight:bold;
	text-transform: uppercase;
}
.jp-popup span:first-child
{
	margin-top:0;
}
.jp-content
{
	font-size:inherit;
	margin-bottom:15px;
	  display:block;
	  margin:0 auto;
	  width:100%;
	  background:transparent;
	  border:1px solid rgb(246, 36, 89);
	  border-width:0 0 1px 0;
	  color:#fff;
	  padding:10px;
}
textarea.jp-content
{
	min-height:100px;
}
.jp-save
{
  background: rgb(246, 36, 89);
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-width:0;
  cursor:pointer;
  text-transform: uppercase;
  margin:0 auto;
  margin-top:30px;
  display:block;
}
.jp-save:hover
{
  background: rgba(246, 36, 89,.8);
}
.jp-saved, .jp-failed
{
	border-radius:10px;
	min-height:30px;
	line-height:30px;
	padding-top:15px;
}
.jp-failed
{
	background: rgb(246, 36, 89);
}
.jp-popup img, .jp-popup .img
{
	max-width:300px;
	height:auto;
}
.jp-btn
{
	font-size:15px;
	font-weight:bold;
	color:#fff;
	background:rgb(246, 36, 89);
	cursor:pointer;
	display:block;
	padding:0 10px;
	text-transform:uppercase;
	margin:10px;
}
.jp-btn-add
{
	background:rgb(0, 177, 106);
}
#jp-logout
{
	position: fixed;
	top:10px;
	right:10px;
	z-index:9999999;
}
.jp-add-btns
{
	width:100%;
	clear:both;
	overflow:hidden;
	text-align:center;
}
.jp-add-btns span
{
	width:50px;
}
.jp-bgimg
{
	background-size:cover;
	background-position:center;
}
ins.jp-elem
{
	text-decoration: none;
}
.jp-popup-close
{
	text-decoration: none;
	position:absolute;
	top:0;
	left:-20px;
	cursor: pointer;
	font-weight:bold;
	font-size:20px;
}